{% extends layout/layout.html %}



{% block content %}
<div class="row" id="flashMessage">
</div>
<div class="row" id="ui">
	<div id="ui_list"></div>
	<div id="ui_issue"></div>
	<div id="ui_msg"></div>
	<div id="ui_new"></div>
	<div id="ui_search"></div>
	<div id="ui_register"></div>

</div>
{% end %}

{% block extrajs %} 
	<script src="{{static_url('apps/templateloader.js')}}"></script>
  	<script src="{{static_url('apps/uiFlashMessage.js')}}"></script>
    <script src="{{static_url('apps/appComponents.js') }}"></script>
    <script src="{{static_url('apps/uiSearchForm.js') }}"></script>
    <script src="{{static_url('apps/uiPagination.js') }}"></script>
    <script src="{{static_url('apps/uiRegister.js') }}"></script>
{% end %}
