{% extends layout\layout.html %}



{% block content %}
<div class="row" id="flashMessage">
	<p class='alert alert-danger alert-dismissable'>
	  <button type='button' class='close' data-dismiss='alert'>&times;</button>
	  <strong></strong>
	</p>

	<p class='alert alert-success alert-dismissable'>
	  <button type='button' class='close' data-dismiss='alert'>&times;</button>
	  <strong></strong>
	</p>
</div>
<div class="row" id="ui">
	<div id="ui_list"></div>
	<div id="ui_issue"></div>
	<div id="ui_new"></div>
</div>
{% end %}

{% block extrajs %} 
    <script src="{{static_url('apps/appComponents.js') }}"></script>
{% end %}
