<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="customized roundup tracker">
    <meta name="viewport" content="width=device-width">
    <title>Trackers</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/bootstrap-theme.css')}}">
  </head>
  <body>
<h2> List of trackers </h2>

<ul class='dl-horizontal'>
{% for t in trackers%}
<li> <a href = "{{ t['url'] }}"> {{ t['url'] }} </a> </li>
{% end %}
</ul>

</body>
</html>