<script type="text/x-handlebars-template" data-template-name="flashTemplate">
	<p class='alert {{style}} alert-dismissable'>
	   {{message}}
	  <button type='button' class='close' data-dismiss='alert'>&times;</button>
	</p>
</script>

<script type="text/x-handlebars-template" data-template-name="testTemplate">
	<div>
		Welcome back {{username}}
	</div>
</script>


<script type="text/x-handlebars-template" data-template-name="registerTemplate">

<form class="js-register form-horizontal" name ="register">
    <table>
        <div class="form-group">
        	<label class="col-sm-2 control-label"> Name </label>
        	<input type='text' name="realname">
        </div>
        <div class="form-group">
        	<label class="col-sm-2 control-label"> Login Name </label>
        	<input type='text' name="username">
        </div>
        <div class="form-group">
        	<label class="col-sm-2 control-label"> Login Password </label>
        	<input type='password' name="password">
        </div>
        <div class="form-group">
        	<label class="col-sm-2 control-label"> Confirm Password </label>
        	<input type='password' name="confirm@password">
        </div>
        <div class="form-group">
        	<label class="col-sm-2 control-label"> Phone </label>
        	<input type='text' name="phone">
        </div>
        <div class="form-group">
        	<label class="col-sm-2 control-label"> Email </label>
        	<input type='text' name="Email">
        </div>
        <button type="submit" name="submit">Register</button>
</form>

</script>
