<script type="text/x-handlebars-template" data-template-name="flashTemplate">
	<p class='alert {{style}} alert-dismissable'>
	  <button type='button' class='close' data-dismiss='alert'>&times;</button>
		{{message}}
	</p>
</script>

<script type="text/x-handlebars-template" data-template-name="testTemplate">
	<div>
		Welcome back {{username}}
	</div>
</script>

