{% set pagination = context.pagination%}

{% if pagination.has_prev %}
  <li> <a href="#" data-id="{{ pagination.page - 1}}">Previous &raquo;</a> </li>
{% end %}


{% for _page in pagination.iter_pages() %}
  {% if _page %}
    {% if _page != pagination.page %}
      <li> <a href="#" data-id="{{_page}}">{{ _page }}</a> </li>
    {% else %}
      <li class="active"> <span>{{ _page }}</span></li>
    {% end %}
  {% else %}
    <span>…</span>
  {% end %}
{% end %}


{% if pagination.has_next %}
  <li><a href="#" data-id="{{ pagination.page + 1 }}"> Next &raquo;</a> </li>
{% end %}
